@page "/"
@rendermode InteractiveAuto

<h3 style="text-align:center;margin:30px auto 30px auto;letter-spacing:2px;">歡迎使用 AiyoDesk</h3>
<div style="letter-spacing:2px;font-size:18px;width:100%;text-align:center;color:lightgray;">請由上方選單進入所需功能</div>

@code {

}
